@import 'footer.scss';
@import 'itemList';
@import 'header';
@import 'finalizar';
@import 'cart';
@import 'detail';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #c2e59c; 
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    
}
li{
    list-style: none;
}